name: test
on:
  push:
  pull_request:

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          # the latest Go version
          - go: "1.25"
            os: ubuntu-24.04
            arch: "amd64"
          - go: "1.25"
            os: ubuntu-24.04
            arch: "386"
          - go: "1.25"
            os: ubuntu-24.04-arm
            arch: "arm64"
          # the old stable Go version
          - go: "1.24"
            os: ubuntu-24.04
            arch: "amd64"
    timeout-minutes: 30
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          go-version: ${{ matrix.go }}

      - run: |
          go test -coverprofile="coverage.txt" -v ./...
        env:
          GOARCH: ${{ matrix.arch }}

      - name: upload coverage
        uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de # v5.5.2
        with:
          flags: ${{ matrix.go }}
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}

  test_float:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-24.04
          - ubuntu-24.04-arm
        test:
          # float to float conversions
          - "f16_to_f32,f16_to_f64,f16_to_f128"
          - "f32_to_f16,f32_to_f64,f32_to_f128"
          - "f64_to_f16,f64_to_f32,f64_to_f128"
          - "f128_to_f16,f128_to_f32,f128_to_f64"

          # float to int conversions
          - "f16_to_i64,f32_to_i64,f64_to_i64,f128_to_i64"
          - "f16_to_ui64,f32_to_ui64,f64_to_ui64,f128_to_ui64"

          # Float16 operations
          - "f16_mul,f16_div,f16_add,f16_sub,f16_sqrt,f16_eq,f16_lt,f16_le,f16_mulAdd"

          # Float32 operations
          - "f32_mul,f32_div,f32_add,f32_sub,f32_sqrt,f32_eq,f32_lt,f32_le,f32_mulAdd"

          # Float64 operations
          - "f64_mul,f64_div,f64_add,f64_sub,f64_sqrt,f64_eq,f64_lt,f64_le,f64_mulAdd"

          # Float128 operations
          - "f128_mul,f128_div,f128_add,f128_sub,f128_sqrt,f128_eq,f128_lt,f128_le"
    timeout-minutes: 300
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          go-version: stable

      - run: |
          ./scripts/build_test_float.sh
          ./scripts/run_test.sh "$TEST_NAME"
        env:
          TEST_NAME: ${{ matrix.test }}
